.custom-header {
    position: relative;
    background-color: #f6f3f0;
    height: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;
}

.custom-header .row-USP {
    background-color: #ffd979;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}

.custom-header .USP-text {
    justify-content: flex-start;
    display: flex;
    align-items: center;
    color: #9178e4;
    font-family: Arial, serif;
    margin-top: 12px;
    margin-right: 5px;
}

.custom-header .USP-text span {
    margin: 0 20px;
}

.custom-header .navbar {
    width: 100%;
    background: #ffffff;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 0;
    padding-top: 60px;
    height: 90px;
}

.custom-header .navbar-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-right: 10px;
}

.custom-header .nav-link {
    color: #9178e4;
    font-weight: bold;
    font-family: sans-serif;
}

.custom-header .nav-item {
    margin: 0 5px;
}

.custom-header .logo img {
    position: absolute;
    bottom: 0;
    width: 500px;
    left: 0;
}

.h1-container h1 {
    font-size: 30px;
    font-family: Arial, serif;
    text-align: center;
}

.custom-link {
    font-family: Arial, serif;
    width: 20%;
    color: #9178e4;
    font-size: 18px;
    padding: 5px 10px;
    text-decoration: none;
    margin: 10px 0;
    text-align: center;
}

.custom-link i {
    margin-left: 8px;
}

.category h2 {
    width: 100%;
    background: #ffd979;
    margin-top: 60px ;
    margin-bottom: 40px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.custom-link:hover {
    color: #000000;
}

@media (max-width: 768px) {
    .logo img {
        width: 80%;
        max-width: 250px;
        height: auto;
        margin: 0 auto;
    }

    .navbar-collapse {
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #ffffff;
        padding: 10px 0;
    }

    .navbar {
        display: flex;
        align-items: center;
        position: relative;
        height: 220px;
        margin-top: 60px;
    }

    .navbar-toggler {
        position: fixed;
        margin-top: 180px;
        right: 0;
        margin-right: 10px;
        z-index: 1000;
        margin-bottom: 50px;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 50px;
        margin-top: 50px;

    }

    .custom-header .USP-text {
        flex-direction: column;
        gap: 5px;
    }

    .btn-dark {
        width: 100%;
        padding: 15px;
        font-size: 18px;
    }
}

.card {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.card-img-top {
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.form-page h1.w-100 {
    display: flex;
    align-items: center;
    color: #9178e4;
    font-family: Arial, serif;
    margin-top: 12px;
    text-align: center;
    width: 100%;
    height: 100px;
}

.form-page .btn-form {
    background-color: #9178e4;
    color: #ffffff;
    border-radius: 12px;
    padding: 6px 12px;
    font-size: 1.5rem;
    font-weight:bold;
    border: none;
    min-width:auto;
}

.form-page .btn-form:hover {
    background-color: #ffd979;
    transform: scale(1.05);
    color: #000000;
}

.label-colour {
    color: #9178e4;
}

.validation-message {
    display: none;
    color: red;
}

.items-btn {
    color: white;
    background-color: #9178e4;
}

#btn2:hover {
    background-color: #ffd979;
}

.title-container {
    height: 7rem;
}

.card-title {
    font-size: 16px;
}

.btn {
    color: white;
    background-color: #9178e4;
}

#btn2:hover {
    background-color: #ffd979;
}

.product-display {
    display: flex;
    max-width: 600px;
    width: 100%;
    padding: 10px;
    align-items: flex-start;
}

.product-display-img-top {
    height: 200px;
    width: 200px;
    object-fit: contain;
    flex-shrink: 0;

}

.product-display-body {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.product-display-title {
    font-size: 14px;
}

.product-display-text {
    font-size: 12px;
    overflow: hidden;
    word-wrap: break-word;
}

@media (max-width: 600px) {
    .product-display {
        flex-direction: column;
    }

    .product-display-img-top {
    }

    .product-display-body {
        width: 100%;
        padding: 10px 0;
    }
}

.title-container {
    height: 7rem;
}

.card-title {
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

footer.custom-footer {
    background-color: #ffd979 !important;
    color: #000000 !important;
    padding: 40px 0;
    text-align: center;
    margin-top: 20px;
    max-width: 100%;
}

footer.custom-footer h5,
footer.custom-footer ul li,
footer.custom-footer strong {
    color: #000000 !important;
}

footer.custom-footer ul {
    list-style: none;
    padding: 0;
    width: 100%;

}

footer.custom-footer ul li {
    font-size: 16px;
    font-family: Arial, sans-serif;
}


.alert-success {
    background-color: #ffd979 !important;
    color: black !important;
    border-color: black !important;
}

.alert-success .alert-heading {
    color: black !important;
}

#btn2 {
    background-color: #9178e4;
}

#btn2:hover {
    background-color: #ffd979;
}

.btn-dark {
    background-color: #ffd979 !important;
    color: #9178e4 !important;
    border: 2px solid #9178e4;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-dark:hover {
    background-color: #9178e4 !important;
    color: #ffd979 !important;
    text-decoration: none;
    transform: scale(1.05);
}

.btn-custom {
    background-color: #ffd979 !important;
    color: black !important;
    border: 2px solid #9178e4;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
}